@import "tailwindcss";

:root {
  --bg-app: #f8fafc; /* bg-slate-50 */
  --text-primary: #0f172a; /* text-slate-900 */
}

body {
  margin: 0;
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  min-height: 100vh;
}
